<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created on 31/1/21 5:51 PM
  ~ Copyright (c) Muhammad Utsman 2021 All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utsman.places.sample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoroutinePlacesHelper">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".PolylineActivity"/>
        <activity android:name=".CurrentLocationActivity"/>
        <activity android:name=".RouteActivity"/>
        <activity android:name=".DrawModePolyline"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAN6Cswfid11lHp-JPm-lorg6PtyttQZkU" />
    </application>

</manifest>